* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#utente {
    font-weight: bolder;
    font-size: larger;
} 
#descrizionenome {
    font-weight: bolder;
}
#descrizionecognome {
    font-weight: bolder;
}
#descrizionecolore {
    font-weight: bolder;
}
#descrizionepassword {
    font-weight: bolder;
}

/* W3C Validator dava: Duplicate ID con solo #descrizione */